body {
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
    font-family: 'Source Sans 3', sans-serif;
}

.name-tittle{
    text-align: center;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', sans-serif;
}

header {
    width: 100%;
    background-color: #5a2183;
}

header #course-tittle {
    padding: 2em;
    text-align: center;
    color: #fafafa;
}

span {
    display: block;
    text-align: center;
}


.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5em;
    padding: 2em;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;

    overflow: hidden;
    /* MUITO IMPORTANTE */
}

.card h2 {
    margin-top: 0;
}

.card-header {
    background-color: #5a2183;
    padding: 1em 1.5em;
}

.card-header h3 {
    margin: 0;
    color: #fafafa;
    font-family: 'Playfair Display', sans-serif;
}

.card-body {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.about_me,
.my_country {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 1.5em;
}

.my_country {
    grid-template-columns: 1fr 2fr;
}

/* Imagens */
.profile-img {
    width: 200px;
    height: auto;
    object-fit: cover;
    justify-self: center;
}

.flag-img {
    width: 200px;
    height: auto;
    justify-self: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #3c1a67;
}

nav a {
    text-decoration: none;
    padding: 1em;
    display: block;
    color: #fafafa;
}
 nav a:hover{
background-color: #7d3fb2;
 }

footer {
    text-align: center;
    padding: 1em;
    background-color: #5a2183;
    color: #fafafa;
}