* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
    "header header header"
    "nav    nav   nav"
    "main   main aside"
    "footer footer footer";
}

.header
 {
  grid-area: header;
  background-color: cadetblue;
  color: azure;
}

.header-content{
    padding: 2em;
}

nav.navbar{
    display: flex; /* REQUIRED: Flexbox */
    justify-content: space-between;
    align-items: center;

}

.navbar {
    grid-area: nav;
    background-color: antiquewhite;
    color: rgb(0, 15, 15);
}

.navbar ul{
    list-style-type: none;

}

.navbar a {
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    color: black;
 
}

.navbar a:hover{
   background-color: rgb(228, 190, 158);
}

.navbar li {
    float: left;
}

aside {
    grid-area: aside;
    background-color: beige;
    color: rgb(0, 14, 14);
    padding: 2em;
}

main {
    grid-area: main;
    padding: 2em;
    background-color: aliceblue;
    color: rgb(0, 13, 13);
}

footer{
    grid-area: footer;
    background-color: cadetblue;
    color: azure;
    padding: 4em;
    text-align: center;
}