body {
    font-style: 'Roboto', sans-serif;
}

header, main, footer {
    width: 640px;
    margin: 1rem auto;
    border: 1px solid #ccc;
    padding: 2em;
    background-color: rgb(146, 170, 199);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section{
    padding: 1em;
    background-color: azure;
}
